{% extends 'base.html' %}
{% block content %}
<h1>LISTADO DE EMPLEADOS</h1>

<h4>Cantidad de Empleados: {{ cantidad_empleados }}</h4>
{% for e in empleados %}
<ul>
    <li>{{ e.apellidos }} {{ e.nombres }} <a href="{% url 'cantidad_tareas' e.id %}">Cantidad tareas</a></li>
</ul> 
{% endfor %}

{% endblock content %}