{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <h1 class="text-center"> PAGINA PRINCIPAL </h1>
        <img src="{% static 'img/tareas.jpg' %}" style="max-width: 80%; height: auto;">
    </div>
</div>

{% endblock content %}
