{% extends 'base.html' %}
{% block content %}

<h2>CREAR TAREA</h2>

<form method="POST" action="{% url 'tareas_guardar' %}" autocomplete="off">
    {% csrf_token %}
    <div class="mb-3">
        <label>NOMBRE:</label>
        <input type="text" class="form-control" name="nombre">
    </div>
    <div class="mb-3">
        <label>DESCRIPCION:</label>
        <textarea name="descripcion" class="form-control" rows="4" cols="50"></textarea>
    </div>
    <div class="mb-3">
        <label>FECHA LIMITE:</label>
        <input type="date" class="form-control" name="fecha_limite">
    </div>
    <div class="mb-3">
        <label>EMPLEADO:</label>
        <select name="empleado" class="form-control">
            {% for e in empleados %}
                <option value="{{ e.id }}" selected>
                    {{ e.apellidos }} {{ e.nombres }}
                </option> 
            {% endfor %}
        </select>

    </div>
    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i> GUARDAR</button>
    <a href="{% url 'tareas' %}" class="btn btn-secondary">
        <i class="fa-solid fa-backward"></i> VOLVER
      </a>
</form>

{% endblock content %}